/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url("http://i.imgur.com/3ufahnD.jpg");
	background-size: cover;
}

#interface {
	margin: 100px auto 100px auto;
	background-color: #CFB873;
	width: 450px;
	min-height: 650px;
	opacity: 0.90;
	border-radius: 25px;
	border: 1px solid #331a00;
	
}

h2 {
	font-family: lobster;
	font-weight: 400;
	text-align: center;
	font-size: 50px;
	opacity: 0.75;
}

#addbox {
	margin: 10px auto 10px auto;
	background-color: #140A00;
	width: 350px;
	height: 80px;
	border-radius: 2px;
	opacity: 0.80;
}

#inputfield {
	width: 310px;
	height: 25px;
	font-family: shadows into light;
	font-size: 20px;
	position: relative;
	margin: 5px 20px 5px 20px;
	border-radius: 5px;
}

#submit {
	width: 95px;
	height: 30px;
	border-radius: 2px;
	font-family: lobster;
	font-size: 22px;
	margin-left: 135px;
	margin-right: 135px;
	background-image: linear-gradient(to top, #999999 0%, #cccccc 100%)
}

#listbox {
	width: 425px;
	height: 500px;
	margin: 10px auto 10px auto;
}

#instructions{
	font-family: shadows into light;
	font-size: 18px;
	text-align: center;
}

#description {
	font-family: lobster;
	font-size: 35px;
	opacity: 0.75;
}

#bottombox {
	width: 425px;
	height: 70px;
	margin: auto;
	text-align: center;
	font-family: Times;
	font-size: 15px;
}

#removeall {
	width: 300px;
	height: 30px;
	border-radius: 2px;
	font-family: lobster;
	font-size: 22px;
	background-color: #CFB873;
	border: 1px solid black;
}

li {
	font-family: shadows into light;
	font-size: 25px;
	margin: 0px 0px 3px 35px;
}

.done {
	font-family: shadows into light;
	font-size: 25px;
	margin: 0px 0px 3px 35px;
	text-decoration: line-through;
}

#quote {
	position: relative;
	bottom: 0px;
	margin-bottom: 0px;
}